@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<div id=Header>
  <h1 id=HeaderText>Dr. SillyStringz's Factory</h1>
  <h2 id=PageTitle>Machine Details</h2>
</div>

<div id=MainBody>
<h3>@Html.DisplayFor(model => model.Name) Details</h3>
<hr />

<h4>Serial Number: @Html.DisplayFor(model => model.SerialNumber)</h4>
<h4>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h4>
<h4>@Html.DisplayNameFor(model => model.Location): @Html.DisplayFor(model => model.Location)</h4>

@if(@Model.JoinEntities.Count ==-0)
  {
    <p>This Machine does not have any Engineers Assigned</p>
  }
  else
  {
    <h4>Engineers Assigned to this Machine</h4>
    @foreach(var join in Model.JoinEntities)
    {
      <li>@join.Engineer.Name</li>

      @using (Html.BeginForm("DeleteEngineer", "Machines"))
        {
          @Html.Hidden("joinId", @join.EngineerMachineId)
          <input type="submit" value="Remove Engineer" />
        }
    }
  }

  <p>@Html.ActionLink("Add an Engineer", "AddEngineer", new { id = Model.MachineId })</p>
  <p>@Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId })</p>
  <p>@Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId })</p>
  <p>@Html.ActionLink("Back to List", "Index")</p>
</div>

  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>