@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;
<div id= Header>
  <h1 id=HeaderText>Dr.Sillystringz's Factory</h2>
</div>
  <h2>Engineer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h4>@Html.DisplayNameFor(model => model.License): @Html.DisplayFor(model => model.License)</h4>
@if(@Model.JoinEntities.Count == 0)
  {
    <p>There are no Machines assigned to this Engineer at this time.</p>
  }else
    {
      <h4>Machines assigned to this Engineer:</h4>
      <ul>
        @foreach(var join in Model.JoinEntities)
          {
            <li>@join.Machine.Name</li>
          }
      </ul>
    }
<p>@Html.ActionLink("Back to Engineers", "Index")</p>
<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new {id = Model.EngineerId})</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>